{{ range .Pages.ByTitle }}
<article class="book-entry">
    <a href="{{ .Permalink }}" class="book-entry__link">
        {{ .Params.authors }}. {{ .Title }}
    </a>
    <p class="book-entry__meta">
        {{ if .Params.publisher }}{{ .Params.publisher }}{{ end }}
        
        {{ if .Params.publish_date }}
            {{ if or .Params.publisher .Params.publish_date }}, {{ end }}
            {{ .Params.publish_date }}.
        {{ end }}
        
        {{ if .Params.page_count }}
            — {{ .Params.page_count }} с.
        {{ end }}
    </p>
    {{ if .Plain }}
        <p class="book-entry__summary">{{ truncate .Plain 300 "…" }}</p>
    {{ end }}
</article>
{{ end }}
