<section id="search-section" class="search-section">

  <link href="{{ "pagefind/pagefind-ui.css" | relURL }}" rel="stylesheet">
  <script src="{{ "pagefind/pagefind-ui.js" | relURL }}"></script>

  <div id="search" class="search-widget"></div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      autofocus: true,
      translations: {
        placeholder: "Эзләү...",
        zero_results: "Нәтиҗә табылмады",
        load_more: "Тагын йөкләргә"
      }
    });
  });
</script>

</section>
