{{ define "main" }}
<div class="container my-8">
  <h1 class="text-3xl font-bold mb-6">Жанр: {{ .Title }}</h1>

  {{ $genre := lower .Title }}
  {{ $books := where .Site.RegularPages "Params.genres" "intersect" (slice $genre) }}

  {{ if not (len $books) }}
    <p>Бу жанрда китаплар табылмады.</p>
  {{ else }}
  {{ range $group := $books.GroupByParam "authors" }}
  <div class="mb-6">
    <h2 class="text-2xl font-semibold mb-2">{{ $group.Key }}</h2>
    <ul class="list-disc list-inside">
      {{ range $group.Pages }}
        <li>
          <a href="{{ .RelPermalink }}" class="text-blue-600 hover:underline">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}

  {{ end }}

  <p class="mt-8">
    <a href="{{ "/genres/" | relURL }}" class="text-blue-600 hover:underline">
      ⟵ Барлык жанрлар исемлегенә кайту
    </a>
  </p>
</div>
{{ end }}
