{{ define "head_extra" }}
  {{ with .Params.json_ld }}
  <script type="application/ld+json">
  {{ . | safeHTML }}
  </script>
  {{ end }}
{{ end }}


{{ define "main" }}
<article class="book">
  <h1>{{ .Title }}</h1>

  {{ with .Params.authors }}
    <p><strong>Автор:</strong> {{ . }}</p>
  {{ end }}

  {{ with .Params.publisher }}
    <p><strong>Нәшрият:</strong> {{ . }}</p>
  {{ end }}

  {{ with .Params.isbn }}
    <p><strong>ISBN:</strong> {{ . }}</p>
  {{ end }}

  {{ with .Params.publish_date }}
    <p><strong>Басылып чыккан ел:</strong> {{ . }}</p>
  {{ end }}

  {{ with .Params.genre }}
    <p><strong>Жанр:</strong> {{ . }}</p>
  {{ end }}

  {{ with .Params.page_count }}
    <p><strong>Битләр саны:</strong> {{ . }}</p>
  {{ end }}

  {{ with .Params.download_link }}
    <p><a href="{{ . }}" target="_blank">Китапны йөкләү</a></p>
  {{ end }}

  <div class="content">
    {{ .Content }}
  </div>

</article>
{{ end }}
