{{ define "main" }}
<div class="container my-8">
  <h1 class="text-3xl font-bold mb-6">Tatarlib — Татар китапханәсе</h1>

  <p class="mb-8 text-lg">
    Татар китапларын табыгыз, укыгыз һәм авторларны өйрәнегез.
  </p>

<h2 class="text-2xl font-semibold mb-3 text-gray-800 **bg-red-500**"> Рккк</h2>
<p class="text-yellow-500">Tailwind работает!</p>
<p style="color: gold;">Tailwind не нужен, просто проверка</p>


  <div class="space-y-4">
    <!-- 🔹 Ссылка на авторов -->
    <a href="{{ "authors" | relURL }}" style="display:block; text-decoration: underline; color: blue; margin-bottom: 10px;">
        Авторлар исемлеге
    </a>

    <a href="{{ "genres" | relURL }}" style="display:block; text-decoration: underline; color: blue; margin-bottom: 10px;">
        Барлык жанрларны карау
    </a>

    <a href="{{ "publisher" | relURL }}" style="display:block; text-decoration: underline; color: blue; margin-bottom: 10px;">
        Нәшриятләр
    </a>

{{ partial "taxonomy_list.html" (dict 
  "Title" "Нәшриятләр"
  "Type" "publisher"
  "Taxonomy" .Site.Taxonomies.publisher
) }}



{{ partial "taxonomy_list.html" (dict 
  "Title" "Имләләр"
  "Type" "language"
  "Taxonomy" .Site.Taxonomies.language
) }}




  </div>
</div>
{{ end }}
