{{ define "main" }}
<div class="container my-8">

  <div class="space-y-4">

{{ partial "taxonomy_list.html" (dict 
  "Title" "Авторлар"
  "Type" "authors"
  "Taxonomy" .Site.Taxonomies.authors
) }}

{{ partial "taxonomy_list.html" (dict 
  "Title" "Жанрлар"
  "Type" "genres"
  "Taxonomy" .Site.Taxonomies.genres
) }}

{{ partial "taxonomy_list.html" (dict 
  "Title" "Нәшриятләр"
  "Type" "publisher"
  "Taxonomy" .Site.Taxonomies.publisher
) }}

{{ partial "taxonomy_list.html" (dict 
  "Title" "Имләләр"
  "Type" "language"
  "Taxonomy" .Site.Taxonomies.language
) }}

  </div>
</div>
{{ end }}
